{% extends "layout/base.html" %}
{% block content %}

<div class="content-section">
    <form method="POST" action="">
        {{ form_add.hidden_tag() }}
        <fieldset class="mb-3">
            <legend class="border-bottom mb-4">Ders Ekle</legend>

            <div class="mb-3">
                <label for="lecture_name" class="form-label">Ders Adı</label>
                {% if form_add.lecture_name.errors %}
                    {{ form_add.lecture_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form_add.lecture_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form_add.lecture_name(class="form-control") }}
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="lecture_code" class="form-label">Ders Kodu</label>
                {% if form_add.lecture_code.errors %}
                    {{ form_add.lecture_code(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form_add.lecture_code.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form_add.lecture_code(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>

        <div class="d-grid">
            {{ form_add.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}
