{% extends "layout/base.html" %}
{% block content %}
<div class="content-section">
    <h4 class="mb-4">Kontrol Paneli</h4>
    <div class="list-group">
        <a href="students" class="list-group-item list-group-item-action list-group-item-light">
            <strong>Öğrenciler</strong>
        </a>
        <a href="announcement" class="list-group-item list-group-item-action list-group-item-light">
            <strong>Duyurular</strong>
        </a>
        <a href="lectures" class="list-group-item list-group-item-action list-group-item-light">
            <strong>Dersler</strong>
        </a>
    </div>
</div>
{% endblock content %}
