{% extends "base.html" %}
{% block content %}
<div class="content-section">
    <h4>Kontrol Paneli</h4>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light"><strong><a href="students">Öğrenciler</a></strong></li>
        <li class="list-group-item list-group-item-light"><strong><a href="announcement">Duyurular</a></strong></li>
        <li class="list-group-item list-group-item-light"><strong><a href="">Loglar</a></strong></li>
        <li class="list-group-item list-group-item-light"><strong><a href="">Konsol</a></strong></li>
    </ul>
</div>
{% endblock content %}