{% extends "layout/base.html" %}
{% block content %}
<div class="content-section">
<legend> Son Devamsızlıklar</legend>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Ders Adı</th>
      <th>Hafta</th>
    </tr>
  </thead>
  <tbody>

  {% if unattendances%}
  {% for unattendance in unattendances %}
  <tr>
      <td>{{ unattendance.lecture.name }}</td>
      <td>{{ unattendance.week_id}}. Hafta</td>
    </tr>
  {% endfor %}
  {% else %}
  {% if current_user.is_authenticated %}
  <tr>
      <td colspan="2">Devamsızlık kaydı bulunamadı.</td>
  </tr>
  {% else %}
  <tr>
    <td colspan="2">Bunu görmek için lütfen giriş yapın.</td>
  </tr>
  {% endif %}
  {% endif %}
  </tbody>
</table>
</div>
<div class="content-section">
{% if announcements %}
{% for announce in announcements %}
<div class="media mb-4 p-3 border rounded shadow-sm">
  <div class="media-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mr-2 mb-0">Duyuruyu yapan: {{ announce.author.name }}</h5>
      <small class="text-muted">{{ announce.date_posted.strftime('%D %H:%M:%S') }}</small>
    </div>
    <h2><a href="#" class="text-dark">{{ announce.title }}</a></h2>
    <p>{{ announce.content }}</p>
  </div>
</div>
{% endfor %}
{% else %}
<div class="media mb-4 p-3 border rounded shadow-sm">
  <div class="media-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mr-2 mb-0">Henüz Duyuru Yok</h5>
    </div>
  </div>
</div>
{% endif %}
</div>
{% endblock content %}