{% extends "base.html" %}
{% block content %}
<table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Öğrenci ID</th>
        <th>Öğrenci Adı</th>
        <th>E-Posta</th>
        <th>Admin mi?</th>
        <th>İşlem</th>
      </tr>
    </thead>
    <tbody>
    {% if students %}
    {% for student in students %}
    {% if student.id != current_user.id %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.is_admin }}</td>
        <td>
          <div class="d-flex justify-content-between align-items-center mb-2">
          <div>
            {% if student.is_admin == False %}
            <form action="{{ url_for('admin.give_perm', id=student.id) }}" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Admin Yap</button>
            </form>
            {% else %}
            <form action="{{ url_for('admin.take_perm', id=student.id) }}" method="POST">
                <button type="submit" class="btn btn-danger btn-sm">Adminliği Al</button>
            </form>
            {% endif %}
          </div>
          <div>
            <form action="{{ url_for('admin.delete_student', id=student.id) }}" method="POST">
              <button type="submit" class="btn btn-danger btn-sm">Öğrenciyi Sil</button>
            </form>
          </div>
          </div>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="5">Öğrenci kaydı bulunamadı.</td>
    </tr>
    {% endif %}
    </tbody>
</table>
{% endblock content %}