{% extends "layout/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form_update.hidden_tag() }}
        <fieldset class="mb-4">
            <legend class="border-bottom mb-4">Devamsızlık Ekle</legend>
            <div class="mb-3">
                {% if form_update.lecture.errors %}
                    {{ form_update.lecture(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form_update.lecture.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form_update.lecture(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form_update.week(class="form-control") }}    
            </div>
        </fieldset>
        <div class="d-flex gap-2">
            {{ form_update.submit(class="btn btn-outline-info") }}
        <a href="{{ url_for('students.unattendance') }}" class="btn btn-secondary">Geri Dön</a>
        </div>
    </form>
</div>
{% endblock content %}