{% extends "layout/base.html" %}
{% block content %}
<div class="py-5">
    <div class="container">
        <div class="card shadow-sm p-4">
            <h2 class="card-title mb-4 text-center">Öğrenci Bilgileri</h2>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Öğrenci ID:</div>
                <div class="col-md-8 text-break">{{ student.id }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Öğrenci E-Posta:</div>
                <div class="col-md-8 text-break">{{ student.email }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 fw-bold">Öğrenci Adı:</div>
                <div class="col-md-8 text-break">{{ student.name }}</div>
            </div>
            
            <div class="row">
                <div class="col-md-4 fw-bold">Rol:</div>
                <div class="col-md-8">{% if student.is_admin > 1 %}{{ student.is_admin }}{% else %} Öğrenci {% endif %}</div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}
